@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap");
:root {
  --mainColor: #ffa800;
  --secondaryColor: #ffd643;

  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  --fontsizeHeader: 40px;
  --fontsizeRegular: 20px;
  --fontsizeNavigation: 30px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
}

/*navigation*/

.login {
  background-image: url("Assets/login-bg.png");
  display: flex;
  justify-content: flex-end;
}

.login-button {
  display: flex;
  padding-right: 30px;
}

.login-button a {
  padding-top: 5px;
  color: white;
  /* font-size: var(--fontsizeNavigation); */
}

.login-button a:hover {
  color: white;
  text-decoration: underline;
}

.navbar-container {
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: space-between;
}

.logo {
  max-width: 140px;
}

.logo img {
  width: 100%;
  align-self: center;
}

.menu ul {
  padding-top: 10px;
  display: flex;
  gap: 30px;
}

.active {
  font-weight: var(--weight-600);
  font-size: var(--fontsizeRegular);
  text-decoration: underline;
  color: var(--mainColor);
  vertical-align: middle;
}

.not-active {
  font-size: var(--fontsizeRegular);
  vertical-align: middle;
  color: black;
}

.not-active:hover {
  text-decoration: underline;
}

.not-active:hover,
.active:hover {
  color: var(--mainColor);
}

.menu {
  align-self: center;
}

.cart-button {
  align-self: center;
}

.cart-button button i {
  font-size: 20px;
}

.cart-button button {
  background-color: var(--mainColor);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50px;
}

.logo-img-modal {
  display: flex;
  justify-self: center;
  justify-content: center;
}

.logo-img-modal img {
  width: 30%;
}

.p-viewer2 {
  float: right;
  margin-top: -30px;
  margin-right: 10px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.login-btn-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.login-btn-modal {
  background-color: var(--secondaryColor);
  border-radius: 100px;
  width: 200px;
  height: 40px;
}

.login-2-btn-modal {
  background-color: var(--secondaryColor);
  border-radius: 100px;
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
}

.login-btn-modal a,
.login-2-btn-modal a {
  color: black;
  font-size: 20px;
  font-weight: var(--weight-500);
}

.login-btn-modal a:hover,
.login-2-btn-modal a:hover {
  text-decoration: underline;
  color: black;
}

.login-2-btn-modal a {
  padding-left: 10px;
}

.modal-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.google {
  background-color: #fff;
  border: 2px solid black;
  border-radius: 100px;
}

.fb {
  background-color: #fff;
  border: 2px solid black;
  border-radius: 100px;
  /* width: 200px;
    height: 40px; */
}

.close1 {
  float: right;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}

.close1:hover {
  opacity: 1;
}

.close1:not(:disabled):not(.disabled) {
  cursor: pointer;
}

/*header*/
.bannerhome {
  background-color: #ffa800;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
}

.bannerhome p {
  color: white;
  font-weight: bold;
  font-size: 25px;
  padding-top: 10px;
}

.p-desc{
    font-size: 20px;
    font-weight: bold;
    color: var(--mainColor);
}

h3,
label {
    font-weight: bold;
}

.medsoc > img {
    margin-right: 10px;
}

.info {
    display: flex;
    flex-wrap: wrap;
}

.info > div {
    flex: 40%;
    margin-right: 30px;
    margin-bottom: 20px;
}

.info > div > p {
    font-size: 18px;
    margin: 0;
}

.btn-primary {
    width: 200px;
    border-radius: 5em;
    padding: 10px 20px;
    border: none;
    background-color: var(--secondaryColor);
    color: black;
    font-weight: 900;
}

.modal-body {
  display: flex;
  flex-direction: column;
}

.btn-primary:hover{
  background-color: var(--mainColor);
}

.form-control {
    border: 1px solid gray;
}

.left-content{
    margin-right: 50px;
}

footer {
    background-color: var(--mainColor);
}
  
.top-footer {
    padding: 30px;
}
  
.img-footer-logo img {
    width: 90%;
}
  
.top-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
.bottom-footer {
    border-top: 1px solid black;
}
  
.bottom-footer p {
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 0px;
}
  
.info-1 {
    width: 200px;
}

.menu-footer-1 ul,
.menu-footer-2 ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
.not-active-footer {
    font-size: var(--fontsizeRegular);
    color: white;
    font-weight: var(--weight-700);
}
  
.not-active-footer:hover,
.footer-active:hover {
    color: var(--secondaryColor);
    text-decoration: none;
}
  
.footer-active {
    color: var(--secondaryColor);
    font-weight: var(--weight-700);
    font-size: var(--fontsizeRegular);
}
  
.follow-us-text p {
    text-align: right;
    font-weight: var(--weight-500);
}
  
.icon-footer {
    padding-top: 20px;
}
  
.icon-footer img {
    padding-left: 10px;
}
  