@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

:root{
    --mainColor: #FFA800;
    --secondaryColor: #FFD643;

    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;

    --fontsizeHeader: 40px;
    --fontsizeRegular: 20px;
    --fontsizeNavigation: 30px;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

button{
    cursor: pointer;
    border: none;
}

/* START HEADER */

.login{
    background-image: url('Assets/login-bg.png');
    display: flex;
    justify-content: flex-end;
}

.login-button{
   display: flex;
   padding-right: 30px; 
}

.login-button a{
    padding-top: 5px;
    color: white;
    /* font-size: var(--fontsizeNavigation); */

}

.navbar-container{
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
}

.logo{
    max-width: 140px;
}

.logo img{
    width: 100%;
    align-self: center;
}

.menu ul{
    display: flex;
    gap: 30px;
}

.active{
    font-weight: var(--weight-600);
    font-size: var(--fontsizeRegular);
    text-decoration: underline;
    color: var(--mainColor);
    vertical-align: middle;
}

.not-active{
    font-size: var(--fontsizeRegular);
    vertical-align: middle;
    color: black;
}

.not-active:hover{
    text-decoration: underline;
    color: var(--mainColor);
}

.menu{
    align-self: center;
    height: 30px;
}

.cart-button{
    align-self: center;
}

.cart-button button i{
    font-size: 20px;
}

.cart-button button{
    background-color: var(--mainColor);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
}

/* END HEADER */

/*  */
.bannerdetails {
    background-color: #ffa800;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
}

.bannerdetails p {
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding-top: 10px;
}

.content {
    display: flex;
    margin: 50px 50px 50px 50px;
}
.content .gambar img{ 
    width: 450px;
    height: 300px;
    margin-right: 50px;
}
.content .namamakanan {
    font-size: 2.8rem;
    font-weight: 450;
    color: var(--mainColor);
}
.content .descmakanan{ 
    font-weight: bold;
    color: black;
    font-size: 23px;
    width: 650px;
}
.tombol-tombol {
    display: flex;
    flex-direction: row;
}

.desc {
    display: flex;
    flex-direction: column;
}

.descmakanan p {
    margin-bottom: 35px;
}

.tombol-tombol {
    display: flex;
    flex-direction: row;
}
.back {
    color: black;
    width: 100px;
    border-width: 1px;
    border-style: solid;
    border-radius: 100px;
    text-align: center;
    margin-right: 50px;
    font-weight: bold;
    padding: 7px 0;
    font-size: 21px;
}

.tombol-tombol .back a {
    /* margin: 5px 0px 5px 0px; */
    color: black;
    vertical-align: middle;
}


.btn-primary i {
    margin-right: 10px;
}

.btn-primary {
    color: #ffd643;
    font-weight: 200;
    background-color: black;
    width: 100px;
    border-radius: 100px;
    text-align: center;
    padding: 0.4rem 0.75rem;
    font-weight: bold;
    font-size: 20px;
    border-style: none;
}

.back:hover .back a{ 
    color: var(--mainColor);
}
.back:hover {
    border-color: var(--mainColor);
    color: var(--mainColor);
    text-decoration: none;
}
.btn-primary:hover {
    color: white;
    text-decoration: none;
    background-color: var(--secondaryColor);
    /* -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1); */
    -webkit-transition: all 250ms ease-in-out 0s;
    -moz-transition: all 250ms ease-in-out 0s;
    -ms-transition: all 250ms ease-in-out 0s;
    -o-transition: all 250ms ease-in-out 0s;
    transition: all 250ms ease-in-out 0.1s;
}
.btn-primary:hover .btn-primary{
    color: white;
}





/*  */

.modal-body {
    display: flex;
    justify-content: center;
}



/* START FOOTER */

footer{
    background-color: var(--mainColor);
}

.top-footer{
    padding: 30px;
}

.img-footer-logo img{
    width: 90%;
}

hr{
    border: 1px solid black;
}

.top-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottom-footer p{
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
}

.info-1{
    width: 200px;
}

.menu-footer-1 ul, .menu-footer-2 ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.not-active-footer{
    font-size: var(--fontsizeRegular);
    color: white;
    font-weight: var(--weight-700);
}

.not-active-footer:hover{
    text-decoration: none;
    color: var(--secondaryColor);
}
.active:hover { 
    color: var(--mainColor);
}
.footer-active:hover {
    text-decoration: none;
    color: var(--secondaryColor);
}

.footer-active{
    color: var(--secondaryColor);
    font-weight: var(--weight-700);
    font-size: var(--fontsizeRegular);
}


.follow-us-text p{
    text-align: right;
    font-weight: var(--weight-500);
}

.icon-footer{
    padding-top: 20px;
}

.icon-footer img{
    padding-left: 10px;
}

.bottom-footer p {
    margin-bottom: 0px;
}   

/* END FOOTER */
