@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

:root{
    --mainColor: #FFA800;
    --secondaryColor: #FFD643;

    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;

    --fontsizeHeader: 40px;
    --fontsizeRegular: 20px;
    --fontsizeNavigation: 30px;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

button{
    cursor: pointer;
    border: none;
}

/* START HEADER */

/* START LOGIN */
.logo-img-modal{
    display: flex;
    justify-self: center;
    justify-content: center;
}
.login-button a{
    padding-top: 5px;
    color: white;
    /* font-size: var(--fontsizeNavigation); */
}

.login-button a:hover{
    color: white;
    text-decoration: underline;
}

.logo-img-modal img{
    width: 30%;
}

.p-viewer2{
    float: right;
    margin-top: -30px;
    margin-right: 10px;
    position: relative;
    z-index: 1;
    cursor:pointer;
}

.login-btn-container{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.login-btn-modal{
    background-color: var(--secondaryColor);
    border-radius: 100px;
    width: 200px;
    height: 40px;
}

.login-2-btn-modal{
    background-color: var(--secondaryColor);
    border-radius: 100px;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
}

.login-btn-modal a, .login-2-btn-modal a{
    color: black;
    font-size: 20px;
    font-weight: var(--weight-500);
}

.login-btn-modal a:hover, .login-2-btn-modal a:hover{
    text-decoration: underline;
    color: black;
}

.login-2-btn-modal a{
    padding-left: 10px;
}

.modal-footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px; 
}

.google{
    background-color: #fff;
    border: 2px solid black;
    border-radius: 100px;
}

.fb{
    background-color: #fff;
    border: 2px solid black;
    border-radius: 100px;
    /* width: 200px;
    height: 40px; */
}

.close1{
    float: right;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.close1:hover{
    opacity: 1;
}

.close1:not(:disabled):not(.disabled) {
    cursor: pointer;
}


.close1 {
    display: flex;
    justify-content: flex-end;
}
.modal-body {
    display: flex;
    flex-direction: column;
}
/* END LOGIN */

.login{
    background-image: url('Assets/login-bg.png');
    display: flex;
    justify-content: flex-end;
}

.login-button{
   display: flex;
   padding-right: 30px; 
}





.navbar-container{
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
}

.logo{
    max-width: 140px;
}

.logo img{
    width: 100%;
    align-self: center;
}

.menu ul{
    display: flex;
    gap: 30px;
}

.active{
    font-weight: var(--weight-600);
    font-size: var(--fontsizeRegular);
    text-decoration: underline;
    color: var(--mainColor);
    vertical-align: middle;
}

.not-active{
    font-size: var(--fontsizeRegular);
    vertical-align: middle;
    color: black;
}

.not-active:hover{
    text-decoration: underline;
    color: var(--mainColor);
}

.menu {
    align-self: center;
    height: 30px;
}

.cart-button{
    align-self: center;
}

.cart-button button i{
    font-size: 20px;
}

.cart-button button{
    background-color: var(--mainColor);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
}

/* END HEADER */

/*  */
.bannerhome {
    background-color: #ffa800;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
}

.bannerhome p {
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding-top: 10px;
}

.modal-body {
    display: flex;
    justify-content: center;
}


/*  */
.menus {
    height: 100%;
    display: flex;
}

.active-sidebar {
    background-color: var(--mainColor);
}
.not-active-sidebar {
    background-color: var(--secondaryColor);
}
.headersizzle {
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: black;
}

.descsizzle {
    display: flex;
    margin-left: 24vw;
    font-size: 20px;
    text-align: center;
    width: 50vw;
    color: var(--mainColor);
    font-weight: bold;
    margin-bottom: 50px;
}
/*  */

/* START SIDEBAR */
.sidenav {
    margin-left: 90px;
    height: 100%;
    width: 190px;
    top: 200px;
    position: sticky;
    overflow-x: hidden;
    padding-top: 20px;
}
  
.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    border-radius: 9px;
    margin: 30px 0;
    text-align: center;
    padding: 0.375rem 0.175rem;
    transition: 0.3s ease-in-out;
}
  
.sidenav a:hover {
    background-color: #FFA800;
}

/* END SIDEBAR */

/* START CARD */
.kumpulancardcard {
    margin-left:120px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    /* margin-right: 100px; */
}
.card {
    margin-right: 50px;
    margin-bottom: 50px;
    padding: 15px;
    border-color: #000;
    border-width: 2 px;
    border-radius: 20px;
}

.card img {
    border-radius: 5px;
}

.card h5 {
    text-align: center;
    color: black;
    font-weight: bold;
}

.card .card-text {
    color: black;
    margin-top: -5px;
    text-align: center;
    font-size: 9px;
}

.price {
    color: red;
    font-size: 13.5px;
    font-weight: bold;
    text-align: center;
}

.card .details {
    color: black;
    font-size: 15px;
    font-weight: 600;
}
.card .details:hover {
    color: var(--mainColor);
}

.card .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.btn-primary{
    border-color: white;
}
.btn-primary:hover {
    border-color: white;
}

.card .btn {
    color: #ffd643;
    font-weight: 200;
    background-color: black;
    width: 7.5vw;
    border-radius: 18px;
}

.card-footer i {
    margin-right: 10px;
}

.card-footer {
    background-color: rgba(0, 0, 0, 0);
    border-top: none;
    padding : 0.60rem 0rem;
}
.btn:hover{
    background: var(--secondaryColor);
    color: #fff;
    /* -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1); */
    -webkit-transition: all 250ms ease-in-out 0s;
    -moz-transition: all 250ms ease-in-out 0s;
    -ms-transition: all 250ms ease-in-out 0s;
    -o-transition: all 250ms ease-in-out 0s;
    transition: all 250ms ease-in-out 0.1s;
}
.btn:hover .btn {
    color: white;
}
/* END CARD */

/* START FOOTER */

footer{
    background-color: var(--mainColor);
}

.top-footer{
    padding: 30px;
}

.img-footer-logo img{
    width: 90%;
}

hr{
    border: 1px solid black;
}

.top-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottom-footer p{
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
}

.info-1{
    width: 200px;
}

.menu-footer-1 ul, .menu-footer-2 ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.not-active-footer{
    font-size: var(--fontsizeRegular);
    color: white;
    font-weight: var(--weight-700);
}

.not-active-footer:hover{
    text-decoration: none;
    color: var(--secondaryColor);
}
.active:hover { 
    color: var(--mainColor);
}
.footer-active:hover {
    text-decoration: none;
    color: var(--secondaryColor);
}

.footer-active{
    color: var(--secondaryColor);
    font-weight: var(--weight-700);
    font-size: var(--fontsizeRegular);
}


.follow-us-text p{
    text-align: right;
    font-weight: var(--weight-500);
}

.icon-footer{
    padding-top: 20px;
}

.icon-footer img{
    padding-left: 10px;
}
.bottom-footer p{
    margin-bottom: 0;
}

/* END FOOTER */
